body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.btn {
  @include reset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 1rem 0rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #d4a373;
  font-family: Lora;
}

.btn--loading {
  background-color: #d4a373;
  opacity: 0.5;
}

.blank__slate {
  @include reset;
}
