.relatedPosts__header {
    font-family: Lora;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #495057;
}

.article {
    padding: 3rem;
    background-color: white;
}

.article__body {
    justify-content: space-evenly;
    display: flex;
}


.article__aside {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

;

// .articleBody__col1__wrapper {
//     width: fit-content;
//     display: flex;
//     gap: 8px;
//     align-items: center;
// }


.article__date {
    font-size: 13px;
    font-weight: 700;
    font-family: Lora;
}

.article__wrapper {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.article__text {
    all: unset;
    font-family: Lora;
    font-weight: 400;
    color: #495057;
}

.article__quote {
    all: unset;
    color: #D4A373;
    font-family: Lora;
    font-weight: 700;
    font-size: 36px;
}

.article__categories {
    display: flex;
    padding: 20px 0;
    gap: 10px
}

.article__line{
    margin-top: 10px;
}
// .blogCards__content__card__socialMediaIcons {
//     display: flex;
//     cursor: pointer;
// }