.profile_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.profile_title {
  @include reset;
  align-self: flex-start;
  font-size: 1.7em;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-family: Lora;
  color: #495057;
}

.profile_title--center {
  align-self: center;
}

.newArticle_card {
  @include reset;
  background-color: white;
  cursor: pointer;
  border: 2px #dddddd dashed;
  width: 370px;
  height: 312px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newArticle_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lora;
  font-weight: bold;
  color: #495057;
}

.userArticles_wrapper {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(3, auto);
  row-gap: 1rem;
  column-gap: 1rem;
  @include for-large-screen-only {
    grid-template-columns: repeat(4, auto);
  }
  @include for-tablet-down {
    grid-template-columns: repeat(2, auto);
    padding: 1rem 0;
  }
  @include for-phone-only {
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
}
