.articleCard {
  border-radius: 5px;
  min-width: 0px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: start;
  font-family: Lora;
  cursor: pointer;
  @include for-phone-only {
    padding: 0;
    margin: auto;
  }
}

.articleCard__img {
  width: 280px;
  height: 250px;
}

.articleCard__date {
  font-size: 0.9em;
  color: #6c757d;
}

.articleCard__wrapper {
  padding: 20px 20px 5px;
  height: 250px;
}

.articleCard__text {
  @include reset();
  font-family: Lora;
  font-size: 0.9em;
  color: #6c757d;
}

.articleCard__header {
  font-size: 1.2em;
}

.articleCard__byline {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.article__link {
  @include reset;
}
