.highlightedArticle {
  position: relative;
}

.highlightedArticle__img {
  width: 370px;
  height: 312px;
  object-fit: cover;
  border-radius: 5px;
  @include for-phone-only {
    width: 100%;
  }
}

.highlightedArticle__wrapper {
  position: absolute;
  top: 0;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  @include for-phone-only {
    padding: 0;
  }
}

.highlightedArticle__inner {
  background: #0000000c;
  display: flex;
  gap: 0.8rem;
  margin-top: 15%;
  padding: 2rem 1rem;
  flex-direction: column;
}

.highlightedArticle__categories {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.highlightedArticle__title {
  @include reset;
  cursor: pointer;
  font-family: 'Lora';
  width: 310px;
  height: 50px;
  font-weight: 700;
  font-size: 1.3em;
}

.highlightedArticle__date {
  @include reset;
  font-family: 'Lora';
  color: #e5e5e5;
  font-size: 0.8em;
}

.highlightedArticle__text {
  @include reset;
  color: #e5e5e5;
  font-size: 0.8em;
  height: 60px;
  font-family: 'Lora';
}

.highlightedArticle__edit {
  cursor: pointer;
}

.highlightedArticle__top {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  width: 330px;
  align-items: center;
  justify-content: space-between;
}
