// Design reference: https://dribbble.com/shots/14605834-Login-Modal

.modal{
    position: absolute;
    margin-top: 7.5%;
    width: 100%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    box-sizing: border-box; 
    @include for-phone-only{
        margin-top: 15%;
        padding-right: 0%;
        justify-content: center;
    }
}

.modal_inner{
    background: #efeef5;
    color:#271351;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    @include for-phone-only{
        width: 98%;
    }
}

.modal_message{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: inherit;
}

.modal_message-error{
    background-color: red;
    color:white
}

.modal_message-success{
    background-color: green;
    color:white
}
.modal_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid white 2px;
    padding: 1.5em 1.5em;
    justify-content: space-between;
    @include for-phone-only{
        padding: 1rem;
    }
}

.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid white 2px;
    padding: 1.5em 1.5em;
    justify-content: space-between;
    @include for-phone-only{
        padding: 1rem;
    }
}

.modal_form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal_icon{
    cursor: pointer;
}

.modal_input{
    border-radius: 1rem;
    border: none;
    color: #493e5a;
    padding: 1rem 1rem;
    width: 24rem;
    box-shadow: 0.05rem 0.05rem #f7f7fb;
    @include for-phone-only{
        width: 20rem;
    }
}
.modal_title{
    @include reset;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: Roboto;
}

.modal_link{
    align-self: center;
    font-size: small;
    font-weight: bold;
    padding: 0.5rem 0;
    color: #7c45e0;
    cursor: pointer;
}

.modal_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 1.5em;
    justify-content: space-between;
    @include for-phone-only{
        padding: 1rem;
    }
}

.modal_submit{
    padding: 1rem 0rem;
    border-radius: 1rem;
    border: solid #9671db 2px;
    cursor: pointer;
    color: white;
    background-color:#7c45e0;
}