.slider {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    @include for-tablet-down{
        min-height: 60vh;
    }
    @include for-phone-only{
        justify-content: center;
        padding: 20% 2%;
=======
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    @include for-tablet-down{
        min-height: 50vh;
    }
    @include for-phone-only{
        justify-content: center;
        padding: 20% 0;
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
    }
}

.slider-home{
    background: url(@/assets/images/heroImage.jpg) no-repeat;
<<<<<<< HEAD
    padding: 15% 5% 0%;
    background-size:cover;
    justify-content: flex-start;
}

.slider-article{
    background: url(@/assets/images/BlogImage3.png) no-repeat;
    background-size:cover;
    text-align: center;
    justify-content: center;
}


.slider__inner {
    display: flex;
    box-sizing: border-box;  
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    gap: 1em;
    color: white;
    padding: 5% 1%;
    @include for-phone-only{
        max-width: 100%;
=======
    background-size:cover;
}

.slider__inner {
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    height: 100%;
    gap: 1em;
    color: white;
    object-fit: contain;
    @include for-phone-only{
        padding: 1%;
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
    }
}

.slider__header {
    background: rgba(0, 0, 0, 0.01);
    font-size: 3em;
    font-weight: 700;
    font-family: Lora;
<<<<<<< HEAD
=======
    max-width: 60%;
    @include for-tablet-down {
        max-width: 80%;  
    }
    @include for-phone-only {
        max-width: 100%;  
    }
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
}

.slider__text {
    background: rgba(0, 0, 0, 0.01);
<<<<<<< HEAD
=======
    max-width: 50%;
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
    display: flex;
    font-family: Lora;
    font-weight: 400;
    font-size: 1em;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
<<<<<<< HEAD
=======
    @include for-tablet-down {
        max-width: 80%;  
    }
    @include for-phone-only {
        max-width: 100%;  
    }
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
}

.slider__subtext {
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
<<<<<<< HEAD
    font-size: 1em;
=======
    font-size: 16px;
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
}

.slider__line {
    margin-top: 10px;
}

.slider__pagination {
    background: rgba(0, 0, 0, 0.01);
    display: flex;
    gap: 5px;
    justify-self: flex-end;
}
<<<<<<< HEAD

.slider__byline{
    font-weight: 700;
}
=======
>>>>>>> e4b09d5 (Made header and slider responsive, still figuring out the rest)
